h2.p2000 {
    margin: 0;
    line-height: 1.2em;
}

div.p2000_msg {
    background-color: rgb(226, 84, 101);
    min-height: 50px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

@media (min-width: 576px) {
    div.p2000_msg {
        background-image: url(p2000.gif);
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        padding: 5px 50px 5px 125px;
    }
}

@media (min-width: 768px) {
    div.p2000_msg {
        padding: 5px 100px 5px 215px;
    }
}

p.p2000_line1 {
    margin: 0;
    font-size: 13px;
    line-height: 1.2em;
    color: #FFFFFF;
}

p.p2000_line2 {
    margin: 0;
    font-size: 13px;
    line-height: 1.2em;
    color: #000000;
}
